@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oleo Script', cursive;
  
}

.wrapper{
  background:none;
  position: fixed;
  width: 100%; 
  z-index: 1000;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #000;
  font-size: 40px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #5c2e19c0;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #411501fb;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #461c08c0;
  border: none;
  outline: none;
  color: rgb(248, 248, 248);
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #5c2e19c0;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
.slide{
    position: relative;

  background-position: center;
background-size: 100%100%;
  background-repeat: no-repeat;
  animation: slide 30s linear infinite ;
  height: 100vh;
  
}
.slide .dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);  

}
.slide .dummy-text h2{
  font-size: 70px;
  margin: 5px 0; 
  z-index: 100; 

}
.slide .dummy-text h3{

  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
font-family: 'Lobster Two', cursive;
}
button{
  position: absolute;
  left:35%;
  top: 65%;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fec150;
  background:#f7b017 ;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
button:hover{
  background: transparent;
  border:2px solid #fff
}
.btn-2{
  border: 2px solid #fff;
  background: transparent;position: absolute;
  top: 65%;
  left: 50%;
}
.btn-2:hover{
  border: 2px solid #fdcf50;
  background:#f7b017;}
@keyframes slide  {
    0%{
        background-image: url(img7.jpg);
    }
    12.5%{
        background-image: url(img1.jpeg);
    }
    25%{
        background-image: url(ho1.png);
    }
    37.5%{
        background-image: url(img3.jpeg);
    }
    50%{
        background-image: url(img4.jpeg);
    }
    62.5%{
        background-image: url(img5.jpeg);
    }
    75%{
        background-image: url(img6.jpg);
    }
    87.5%{
        background-image: url(img7.jpg);
    }
    100%{
        background-image: url(img5.jpeg);
    }
}


@media (max-width:500px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }



  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #b87223;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }



  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }



.slide{
  position: relative;
background-position: center;
background-size: 100%100%;
background-repeat: no-repeat;
animation: slide 30s linear infinite ;
height: 100vh;


}
.slide .dummy-text{
position: absolute;
top: 50%;
left: 50%;
z-index: 100;
padding: 0 20px;
text-align: center;
transform: translate(-50%, -50%);  

}
.slide .dummy-text h2{
font-size: 70px;
margin: 5px 0; 
z-index: 100; 

}
button{
position: absolute;
left:0%;
top: 65%;
width: 150px;
padding: 15px 0;
text-align: center;
margin: 0 10px;
border-radius: 25px;
font-weight: bold;
border: 2px solid #fec150;
  background:#f7b017;
color: #fff;
cursor: pointer;
transition: background 0.5s;
}
button:hover{
background: transparent;
border:2px solid #fff
}
.btn-2{
border: 2px solid #fff;
background: transparent;position: absolute;
top: 65%;
left:45%;
}
.btn-2:hover{
  border: 2px solid #fec150;
  background:#f7b017;}
@keyframes slide  {
  0%{
      background-image: url(img7.jpg);
  }
  12.5%{
      background-image: url(ho1.png);
  }
  25%{
      background-image: url(img2.jpeg);
  }
  37.5%{
      background-image: url(img3.jpeg);
  }
  50%{
      background-image: url(img4.jpeg);
  }
  62.5%{
      background-image: url(img5.jpeg);
  }
  75%{
      background-image: url(img6.jpg);
  }
  87.5%{
      background-image: url(img7.jpg);
  }
  100%{
      background-image: url(img5.jpeg);
  }
}

/* Responsive code start */
.wrapper nav{
  max-width: 100%;
  padding: 0 20px;
}
nav .content .links{
  margin-left: 30px;
}
.content .links li a{
  padding: 8px 13px;
}
.wrapper .search-box{
  max-width: calc(100% - 100px);
}
.wrapper .search-box input{
  padding: 0 100px 0 15px;
}



}
.mm{ width: 60px;
  height: 60px;
  margin-left: 40px;

}